@import "bootstrap";
@import "react-table";

.btn-transparent {
  border: none;
  border-radius: 0;
  background-color: transparent;
  transition: color .2s ease;
  &:hover, &:focus, &:active, &:disabled {
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
    outline: none;
  }
}

.edit-btn {
  &:hover {
    color: darkseagreen;
  }
}
.delete-btn {
  &:hover {
    color: indianred;
  }
}
