$border: #e6e6e6;

.ReactTable {
  .rt-table {
    .-headerGroups {
      display: none;
    }
    .-header {
      box-shadow: none;
      border-bottom: 1px solid $border;
    }
  }
  .pagination-bottom {
    .-pagination {
      box-shadow: none;
      border-top: 1px solid $border;
    }
  }
}

.ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
  box-shadow: inset 0 3px 0 0 #03a9f4;
}

.ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc {
  box-shadow: inset 0 -3px 0 0 #03a9f4;
}

.ReactTable .rt-resizable-header-content {
  line-height: 3;
}

.ReactTable .rt-expander{
  display: inherit
}

.ReactTable .rt-expander:after {
  border-top-color: white !important;
}

.ReactTable.-striped .rt-tr.-odd{background:rgba(0,0,0,0.03)}

.ReactTable .rt-tbody {
  overflow-x: hidden !important;
}
